

fastapi>=0.129.0
fastapi-cli>=0.0.23
Jinja2>=3.1.6
PyJWT>=2.11.0
python-dotenv>=1.2.1
python-multipart>=0.0.22
SQLAlchemy>=2.0.46


#pydantic>=2.12.5
#pydantic_core>=2.41.5
#sqlmodel>=0.0.34


#pyodbc>=5.3.0
#cx_Oracle>=8.3.0
#psycopg2>=2.9.11


